# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "npm"
    directory: "/cra"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "npm"
    directory: "/docusaurus"
    schedule:
      interval: "daily"
      
  - package-ecosystem: "nuget"
    directory: "/dotnet/iwebapiproject"
    schedule:
      interval: "daily"
      
