# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

registries:
  reusable-workflows:
    type: git
    url: https://github.com
    username: x-access-token
    password: ${{ secrets.REUSABLE_WORKFLOWS_READ_TOKEN }}

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      prefix: "ci:"

  - package-ecosystem: "github-actions"
    directory: "/react/.github/workflows"
    registries:
      - reusable-workflows
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      prefix: "chore(react):"

  - package-ecosystem: "npm"
    directory: "/react"
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      prefix: "chore(react):"
    versioning-strategy: "increase"
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      msal:
        patterns:
          - "@azure/msal-*"
      fontawesome:
        patterns:
          - "@fortawesome/*"
      patch-and-minor:
        patterns:
          - "*"
        exclude-patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
          - "@azure/msal-*"
          - "@fortawesome/*"
        update-types:
          - patch
          - minor

  - package-ecosystem: "npm"
    directory: "/docusaurus"
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      prefix: "build(docs):"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: "github-actions"
    directory: "/dotnet/iwebapi/.github/workflows"
    registries:
      - reusable-workflows
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      prefix: "chore(dotnet):"

  - package-ecosystem: "github-actions"
    directory: "/dotnet/iworker/.github/workflows"
    registries:
      - reusable-workflows
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      prefix: "chore(dotnet):"

  - package-ecosystem: "nuget"
    directory: "/dotnet/iwebapi/Company.WebApplication1"
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      # considered fix because it affects the template itself, not the template package
      prefix: "fix(dotnet):"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: "nuget"
    directory: "/dotnet/iworker/Company.Worker1"
    schedule:
      interval: 'cron'
      cronjob: '0 9 * * MON#1 Europe/Oslo'
    commit-message:
      # considered fix because it affects the template itself, not the template package
      prefix: "fix(dotnet):"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
