# default owners
* @h3rmanj @loekensgard

# docusaurus
# specify this first, subfolders get more specific owners
/docusaurus/ @intility/react-sig @loekensgard

# react
/react/ @intility/react-sig
/docusaurus/react/ @intility/react-sig

# dotnet
/dotnet/ @intility/dotnet-sig
/docusaurus/dotnet/ @intility/dotnet-sig
